language: node_js
node_js:
- 8.11.2
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_81d1fc7fdfa5_key -iv $encrypted_81d1fc7fdfa5_iv
  -in ssh_config.enc -out ssh_config -d
- cp ssh_config ~/.ssh/config
- openssl aes-256-cbc -K $encrypted_81d1fc7fdfa5_key -iv $encrypted_81d1fc7fdfa5_iv
  -in mtevents_travis_key.enc -out /tmp/mtevents_travis_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/mtevents_travis_key
- ssh-add /tmp/mtevents_travis_key
after_success:
- npm run codecov
- scp  -r dist/mtevents.min.js test/test.html bj-server:/usr/local/nginx/html
